body {
  background-color: #1A1A1A;
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

h1 {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

h3 {
  color: #FFFFFFB2;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}
